*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}
html{
    font-size: 62.5%;
    background-color: black;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size:contain;
    font-family:'Inter';
}
/* large:5.6rem, large-med:2.4rem, med:1.6rem, small:1.2rem; */

/*-----------NAVBAR-----------*/
.netflix-icon{
    width: 14.8rem;
}
.lang-btn{
    height: 3.2rem;
    width: 12rem;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 0.5rem;

}
.signin-btn{
    height: 3.2rem;
    width: 7.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: rgb(229, 9, 20);
    color: white;
    font-weight: 700;
    border: none;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 12rem;
    margin: 0;
    padding: 0 14.8rem;
}
.navbar-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.8rem;
    max-width: 1280px;
    margin: 0;
}

.side-navbar-ul{
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}
/*-----------HERO-SECTION-----------*/

.hero-section{
    position: relative;
    top: 6rem;
    height: 42.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0 3.2rem 3.2rem;
    margin: -3.2rem 0 13rem;
}

/* ------TEXT-SIZE------ */

.large-text{
    font-size: 5.6rem;
    color: white;
    font-weight: 900;
    padding-top: 2rem;
}
.large-mid-text{
    font-size: 2.4rem;
    width: 22rem;
    font-weight: 700;
}
.medium-text{
    font-size: 2rem;
    color: white;
    line-height: 6.3rem;
    font-weight: 650;
}
.small-text{
    font-size: 1.6rem;
    color: white;
    line-height: 4rem;
    font-weight: 600;

}

/* ------------ */

.sub-hero-section{
    display: flex;
    gap: 0.8rem;
    margin-top: 0.8rem;
}
.email-input{
    height: 5.6rem;
    width: 37rem;
    background-color: rgba(24, 24, 24, 0.9);
    color: rgb(176, 173, 173);
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgb(161, 160, 160);
    border-radius: 0.4rem;
    font-weight: 550;

}
.get-started-btn{
    height: 5.6rem;
    width: 21.3rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 0.4rem;
}
img{
    width: 8rem;
}

/* ------RED-LINE------ */
.red-line img{
    width: 100%;
}

/* ------TRENDING NOW------ */
.trending-now{
    margin: 3rem 0 0 0;
}
.trending-now p{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.top-10{
    list-style: none;
    display: flex;
    gap:4rem;
    overflow-x: scroll;
}
.top-10 p{
    color: black;
}
.img-1{
    background-image: url(show1.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-2{
    background-image: url(show2.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-3{
    background-image: url(show3.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-4{
    background-image: url(show4.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-5{
    background-image: url(show5.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-6{
    background-image: url(show6.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-7{
    background-image: url(show7.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-8{
    background-image: url(show8.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-9{
    background-image: url(show9.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}
.img-10{
    background-image: url(show10.webp);
    height: 25.2rem;
    width: 18rem;
    border-radius: 1rem;
    border: none;
}

/* ------MORE REASON SECTION------ */
.more-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14.8rem;
    gap: 1.6rem;
}
.para{
    width: 105.5rem;
    height: 3rem;
    margin: 1.6rem 0 0;
}
.more-para{
    font-size: 2.4rem;
    display: inline-block;
    height: 3rem;
    width: auto;
    font-weight: 600;
}
.card-section{
    display: flex;
    margin: 0 auto;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.card{
    background: linear-gradient(160deg, #0f0c1f, #1b1233, #3a155c);
    height: 31.8rem;
    width: 25.175rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:start;
    justify-content: space-between;
    
}
.small-para{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(196, 184, 184);
}
.card-upper{
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: 2.5rem 0 0;
    gap: 1.5rem;
}
.icon{
    align-self: flex-end;
    padding: 0 1rem 1.5rem 0;
    width: 9rem;
    height: auto;
}

/* ------FAQ's SECTION------ */

.FAQ-que{
    width: auto;
}
.question-section{
    display: flex;
    flex-direction: column;
    width: 105.5rem;
    height: 61.4rem;
    gap: 2rem;
    padding: 5rem 0 0 0;
    margin-bottom: 8rem;
}
.que{
    background-color: rgb(50, 50, 50);
    display: flex;
    height: 8.4rem;
    padding:2.4rem;
    justify-content: space-between;
}
.que p{
    font-size: 2.4rem;
    font-weight: 375;
}
.question-containers{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.fa-plus{
    font-size: 4rem;
}
.email-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    margin-bottom: 4.8rem;
}
.lower-email{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
}
.email-2{
    width: 56.2rem;
    height: 5.6rem;
    padding: 1.6rem;
    align-self: flex-start;
}

/* ------CONTACT-SECTION------ */

.contact{
    font-size: 1.6rem;
    color:rgb(176, 173, 173);
    margin-bottom: 1rem;
}
.contact a{
    color: rgb(176, 173, 173);
}

/* ------FOOTER-SECTION------ */

.footer-section{

}

/* ------HELP-SECTION------ */

.help-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin-bottom: 5rem;
}
.help-section li{
    margin-top: 1.2rem;
    width: 26.375rem;
    height: 2.1rem;
}
.help-section a{
    color: rgb(176, 173, 173);
}
.lang-btn{
    margin-bottom: 4rem;
}
.netflix-india{
    font-size: 1.4rem;
    margin-bottom: 4rem;
    color: rgb(176, 173, 173);
}
.guidelines{
    font-size: 1.3rem;
    margin-bottom: 14rem;
    color: rgb(176, 173, 173);
}
.guidelines a{
    color: rgb(65, 128, 210);
}
